.footer {
  background-color: #29292d;
}
@media screen and (min-width: 360px) {
  .footer .footer-sm-screen-device {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-sm-screen-device {
    display: flex;
  }
}
.footer .footer-sm-screen-device .footer-container .footer-top {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #535356;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input {
  margin-bottom: 40px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input h4 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input p {
  color: #868686;
  font-size: 14px;
  margin-bottom: 30px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input .input-area {
  width: 580px;
  height: 55px;
  border: 1px solid #535356;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 1060px) {
  .footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input .input-area {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input .input-area {
    width: 580px;
  }
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input .input-area input {
  color: #fff;
  border: none;
  width: 100%;
  background: none;
  outline: none;
  height: 30px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input .input-area .icon {
  color: #fff;
  font-size: 20px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-input .input-area .icon:hover {
  color: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 {
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.8s;
  cursor: pointer;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1 .instagram,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1 .twitter,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1 .pinterest,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1 .gitHub,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2 .instagram,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2 .twitter,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2 .pinterest,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2 .gitHub,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3 .instagram,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3 .twitter,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3 .pinterest,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3 .gitHub,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4 .instagram,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4 .twitter,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4 .pinterest,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4 .gitHub,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 .instagram,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 .twitter,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 .pinterest,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 .gitHub {
  width: 18px;
  font-size: 20px;
  fill: white;
  transition: all 0.8s;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4 .facebook,
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5 .facebook {
  width: 14px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-1:hover .facebook {
  fill: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-2:hover .instagram {
  fill: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-3:hover .twitter {
  fill: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-4:hover .pinterest {
  fill: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-left .footer-left-social .social-item-5:hover .gitHub {
  fill: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-right {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer .footer-sm-screen-device .footer-container .footer-top .footer-right {
    display: none;
  }
}
@media screen and (min-width: 1060px) {
  .footer .footer-sm-screen-device .footer-container .footer-top .footer-right {
    display: flex;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-sm-screen-device .footer-container .footer-top .footer-right {
    display: flex;
    width: 40%;
  }
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-right .footer-right-col {
  width: 33.3333333333%;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-right .footer-right-col p {
  margin-bottom: 24px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-right .footer-right-col ul li {
  color: #868686;
  margin-bottom: 10px;
  font-size: 14px;
}
.footer .footer-sm-screen-device .footer-container .footer-top .footer-right .footer-right-col ul li a:hover {
  color: #ff9000;
}
.footer .footer-sm-screen-device .footer-container .footer-bottom {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-left {
  font-size: 12px;
  color: #868686;
  text-align: center;
}
.footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-left .store-name {
  color: #ff9000;
  text-transform: uppercase;
}
.footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-left .signature {
  color: #fff;
}
.footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-center {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #868686;
}
@media screen and (min-width: 360px) {
  .footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-center {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-center {
    display: flex;
  }
}
.footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 360px) {
  .footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-right {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-sm-screen-device .footer-container .footer-bottom .footer-bottom-right {
    display: flex;
  }
}
.footer .footer-smartPhone-screen-device {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 360px) {
  .footer .footer-smartPhone-screen-device {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-smartPhone-screen-device {
    display: none;
  }
}
.footer .footer-smartPhone-screen-device .footer-item {
  width: 100%;
  transition: all 0.5s;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  transition: all 10s;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-row p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-row .footer-icon {
  color: #868686;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-item-hidden ul li {
  color: #868686;
  margin-bottom: 10px;
  font-size: 14px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-input {
  margin-bottom: 40px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-input h4 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-input p {
  color: #868686;
  font-size: 14px;
  margin-bottom: 30px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-input .input-area {
  width: 100%;
  height: 55px;
  border: 1px solid #535356;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-input .input-area input {
  color: #fff;
  border: none;
  width: 100%;
  background: none;
  outline: none;
  height: 30px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-input .input-area .icon {
  color: #fff;
  font-size: 20px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.8s;
  cursor: pointer;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1 .instagram,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1 .twitter,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1 .pinterest,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1 .gitHub,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2 .instagram,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2 .twitter,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2 .pinterest,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2 .gitHub,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3 .instagram,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3 .twitter,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3 .pinterest,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3 .gitHub,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4 .instagram,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4 .twitter,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4 .pinterest,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4 .gitHub,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 .instagram,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 .twitter,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 .pinterest,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 .gitHub {
  width: 18px;
  font-size: 20px;
  fill: white;
  transition: all 0.8s;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4 .facebook,
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5 .facebook {
  width: 14px;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-1:hover .facebook {
  fill: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-2:hover .instagram {
  fill: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-3:hover .twitter {
  fill: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-4:hover .pinterest {
  fill: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5:hover {
  transform: translateY(-10px);
  border: 1px solid #ff9000;
  color: #ff9000;
  stroke: #ff9000;
}
.footer .footer-smartPhone-screen-device .footer-item .footer-left .footer-left-social .social-item-5:hover .gitHub {
  fill: #ff9000;
}
.footer .footer-bottom-left {
  font-size: 12px;
  color: #868686;
  text-align: center;
}
.footer .footer-bottom-left .store-name {
  color: #ff9000;
  text-transform: uppercase;
}
.footer .footer-bottom-left .signature {
  color: #fff;
}