.men-category {
  padding: 0 95px;
  margin-bottom: 50px;
}
@media screen and (min-width: 360px) {
  .men-category {
    padding: 0 15px;
  }
}
@media screen and (min-width: 760px) {
  .men-category {
    padding: 0 95px;
  }
}
.men-category .category-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.men-category .category-title::before, .men-category .category-title::after {
  content: "";
  position: relative;
  width: 35%;
  height: 1px;
  background-color: #e6e6e6;
}
@media screen and (min-width: 360px) {
  .men-category .category-title::before, .men-category .category-title::after {
    width: 20%;
  }
}
@media screen and (min-width: 1500px) {
  .men-category .category-title::before, .men-category .category-title::after {
    width: 35%;
  }
}
.men-category .category-title::before {
  left: 0;
}
.men-category .category-title::after {
  right: 0;
}
.men-category .category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 360px) {
  .men-category .category-container {
    display: none;
  }
}
@media screen and (min-width: 1500px) {
  .men-category .category-container {
    display: grid;
  }
}
@media screen and (min-width: 360px) {
  .men-category .category-slider {
    display: black;
  }
}
@media screen and (min-width: 1500px) {
  .men-category .category-slider {
    display: none;
  }
}
.men-category .category-slider .category-swiper .swiper-button-prev,
.men-category .category-slider .category-swiper .swiper-button-next {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.5s;
}
@media screen and (min-width: 360px) {
  .men-category .category-slider .category-swiper .swiper-button-prev,
  .men-category .category-slider .category-swiper .swiper-button-next {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1500px) {
  .men-category .category-slider .category-swiper .swiper-button-prev,
  .men-category .category-slider .category-swiper .swiper-button-next {
    width: 40px;
    height: 40px;
  }
}
.men-category .category-slider .category-swiper .swiper-button-prev:hover,
.men-category .category-slider .category-swiper .swiper-button-next:hover {
  border: 2px solid #ff9000;
  background-color: #ff9000;
}
.men-category .category-slider .category-swiper .swiper-button-prev::after {
  font-size: 15px;
  color: white;
}
.men-category .category-slider .category-swiper .swiper-button-prev::after:hover {
  color: #ff9000;
}
.men-category .category-slider .category-swiper .swiper-button-next::after {
  font-size: 15px;
  color: white;
}
.men-category .category-slider .category-swiper .swiper-button-next::after:hover {
  color: #ff9000;
}