.men-template {
  width: 120%;
  height: 50px;
  display: flex;
  gap: 0;
  background-color: #f2ece2;
  margin-bottom: 40px;
}
@media screen and (min-width: 360px) {
  .men-template {
    width: 180%;
  }
}
@media screen and (min-width: 760px) {
  .men-template {
    width: 133.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .men-template {
    width: 120%;
  }
}
.men-template .template-item0 {
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: 500;
  animation-name: rightToLeft0;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 360px) {
  .men-template .template-item0 {
    padding: 15px 10px;
    width: 60%;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item0 {
    width: 33.3333333333%;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item0 {
    width: 20%;
    padding: 15px 30px;
  }
}
.men-template .template-item1 {
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: 500;
  animation-name: rightToLeft1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 360px) {
  .men-template .template-item1 {
    padding: 15px 10px;
    width: 60%;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item1 {
    width: 33.3333333333%;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item1 {
    width: 20%;
    padding: 15px 30px;
  }
}
.men-template .template-item2 {
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: 500;
  animation-name: rightToLeft2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 360px) {
  .men-template .template-item2 {
    padding: 15px 10px;
    width: 60%;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item2 {
    width: 33.3333333333%;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item2 {
    width: 20%;
    padding: 15px 30px;
  }
}
.men-template .template-item3 {
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: 500;
  animation-name: rightToLeft3;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 360px) {
  .men-template .template-item3 {
    padding: 15px 10px;
    width: 60%;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item3 {
    width: 33.3333333333%;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item3 {
    width: 20%;
    padding: 15px 30px;
  }
}
.men-template .template-item4 {
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: 500;
  animation-name: rightToLeft4;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 360px) {
  .men-template .template-item4 {
    padding: 15px 10px;
    width: 60%;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item4 {
    width: 33.3333333333%;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item4 {
    width: 20%;
    padding: 15px 30px;
  }
}
.men-template .template-item5 {
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: 500;
  animation-name: rightToLeft5;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 360px) {
  .men-template .template-item5 {
    padding: 15px 10px;
    width: 60%;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item5 {
    width: 33.3333333333%;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item5 {
    width: 20%;
    padding: 15px 30px;
  }
}
@media screen and (min-width: 360px) {
  .men-template .template-item3 {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item3 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item3 {
    display: block;
  }
}
@media screen and (min-width: 360px) {
  .men-template .template-item4 {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item4 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item4 {
    display: block;
  }
}
@media screen and (min-width: 360px) {
  .men-template .template-item5 {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item5 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item5 {
    display: block;
  }
}
@media screen and (min-width: 360px) {
  .men-template .template-item3 {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .men-template .template-item3 {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .men-template .template-item3 {
    display: block;
  }
}

@keyframes rightToLeft0 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToLeft1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToLeft2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToLeft3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToLeft4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToLeft5 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}