.set-quantity {
  font-size: 18px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e9e9e9;
}
.set-quantity .minus,
.set-quantity .plus {
  font-size: 28px;
  color: #e9e9e9;
  transition: all 0.5s;
  cursor: pointer;
}
.set-quantity .minus:hover,
.set-quantity .plus:hover {
  color: #ff8421;
}
.set-quantity .minus {
  padding-left: 15px;
}
.set-quantity .plus {
  padding-right: 15px;
}
.set-quantity .quantity {
  color: #000;
}