.shopping-item {
  display: flex;
  margin: 10px 0;
  width: 100%;
  height: 100px;
  gap: 15px;
}
.shopping-item .left {
  width: 20%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shopping-item .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.shopping-item .right .product-name {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.shopping-item .right .product-info {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  color: #868686;
  text-transform: capitalize;
}
.shopping-item .right .product-info span {
  padding-left: 5px;
  color: #000;
}
.shopping-item .right .product-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-item .right .product-footer .set-quantity {
  font-size: 14px;
  width: 80px;
}
.shopping-item .right .product-footer .set-quantity .minus,
.shopping-item .right .product-footer .set-quantity .plus {
  font-size: 20px;
}
.shopping-item .right .product-footer .product-price {
  color: #ac2f33;
  font-weight: 400;
  font-size: 16px;
}