.testimonials {
  position: relative;
  width: 100%;
  background-color: #f8f1ed;
}
@media screen and (min-width: 360px) {
  .testimonials {
    padding: 50px 0 70px 0;
  }
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding: 50px 0 70px 0;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials {
    padding: 90px 0 110px 0;
  }
}
.testimonials .swiper-button-prev,
.testimonials .swiper-button-next {
  color: black;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.0588235294);
}
.testimonials .swiper-button-prev::after,
.testimonials .swiper-button-next::after {
  font-size: 14px !important;
}
.testimonials .swiper-button-prev::before,
.testimonials .swiper-button-next::before {
  font-size: 14px !important;
}
.testimonials .swiper-button-prev:hover,
.testimonials .swiper-button-next:hover {
  background-color: #ff9000;
  color: white;
}
.testimonials .swiper-button-prev {
  top: 400px;
  left: 0px;
}
.testimonials .swiper-button-next {
  top: 400px;
  left: 40px;
}
.testimonials .wrap-testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 360px) {
  .testimonials .wrap-testimonial {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .testimonials .wrap-testimonial {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials .wrap-testimonial {
    flex-direction: row;
    align-items: center;
  }
}
.testimonials .wrap-testimonial .testimonial-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 360px) {
  .testimonials .wrap-testimonial .testimonial-content {
    width: 100%;
    padding-bottom: 80px;
  }
  .testimonials .wrap-testimonial .testimonial-content .comment br {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .testimonials .wrap-testimonial .testimonial-content {
    width: 60%;
    padding-bottom: 0;
  }
  .testimonials .wrap-testimonial .testimonial-content .comment br {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials .wrap-testimonial .testimonial-content {
    width: 60%;
    padding-bottom: 0;
  }
  .testimonials .wrap-testimonial .testimonial-content .comment br {
    display: block;
  }
}
.testimonials .wrap-testimonial .testimonial-content h3 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
}
.testimonials .wrap-testimonial .testimonial-content .wrap-start {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  color: #ff9000;
  margin-bottom: 18px;
}
.testimonials .wrap-testimonial .testimonial-content .comment {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}
@media screen and (min-width: 360px) {
  .testimonials .wrap-testimonial .testimonial-content .comment {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .testimonials .wrap-testimonial .testimonial-content .comment {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials .wrap-testimonial .testimonial-content .comment {
    margin-bottom: 30px;
  }
}
.testimonials .wrap-testimonial .testimonial-content .testimonial-name {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 35px;
}
.testimonials .wrap-testimonial .testimonial-content .testimonial-name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  width: 30px;
  height: 1px;
  background-color: #000;
}
.testimonials .wrap-testimonial .testimonial-image {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 360px) {
  .testimonials .wrap-testimonial .testimonial-image {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .testimonials .wrap-testimonial .testimonial-image {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials .wrap-testimonial .testimonial-image {
    width: 60%;
  }
}
.testimonials .wrap-testimonial .testimonial-image .testimonial-images {
  width: 470px;
  height: 470px;
  background-image: url("../../assets/testimonial1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 360px) {
  .testimonials .wrap-testimonial .testimonial-image .testimonial-images {
    height: 380px;
  }
}
@media screen and (min-width: 768px) {
  .testimonials .wrap-testimonial .testimonial-image .testimonial-images {
    height: 420px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials .wrap-testimonial .testimonial-image .testimonial-images {
    height: 470px;
  }
}